# Node modules
node_modules/

# Cypress files
cypress/screenshots/
cypress/videos/

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Dependency directories
/.pnp
.pnp.js

# Build and output files
/dist
/build

# IDE files
.idea/
.vscode/
*.code-workspace
